pbr!=2.1.0,>=2.0.0

oslo.versionedobjects>=1.17.0
os_vif>=1.7.0
oslo.log>=3.22.0
neutron-lib>=1.9.0
oslo.privsep!=1.17.0,>=1.9.0
oslo.concurrency>=3.8.0
oslo.utils>=3.20.0

#neutron==11.0.0.0b3 #hardcoded in tox.ini
